{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Educa{% endblock %}</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body>
			<ul class="menu">
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Sign out</a></li>
				{% endif %}
			</ul>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jqueryui.min.js"></script>
		<script>
			$(document).ready(function() {
			{% block domready %}
			{% endblock %}
			});
		</script>
		<div id="footer">
			<p><center>&copy; Copyright 2019</center></p>
		</div>
	</body>
</html>