body {
    background-color: rgb(185,179,175);
    font-family: Georgia, Times, serif;
    width: 960px;
    margin: 0 auto;
}

h1 {
    
    color: #665544;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

h2{
     color: #ee3e80;
}

h3{
     color: #665544;
}

h1 a, h2 a {
    color: #ee3e80;
    font-family: 'Calibri';
}

h1, h2, h3, h4 {
    font-family: 'Calibri', cursive;
}

li {
    display: inline;
    margin-right: 10px;
    color: #ffffff;

}

a{

    color: #ffffff;

}



#header {
    background-color:  maroon;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#header h1, #header h1 a, #header h1 a:visited, #header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

#subheader{
    margin: 0px 10px 10px 10px;
    background-color: maroon;

}

.cart{
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: blue;
    text-align: right;

}

#content {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.contents {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.module {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: maroon;
    background-size: 20px;
    border-radius: 5px;
}

.course-info{

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
#modules {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#module-contents{

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

}

.content-types{

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.login-form{

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;

}

.menu{
    padding: 10px;
    margin: 10px;
    text-align: right;
}

.user{
    text-align: left;
    padding: 10px;
    margin: 10px;

}


.logo{

    color: #ffffff;
    font-style: font-family: 'Calibri';
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}


#sidebar{

    padding: 10px 10px 5px 10px;
    margin: 10px 10px 3px 0px;
    text-align: center;
    


}

#main{

    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    

}

.item{

    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    color: green;
    

}

.product-detail{

    padding: 10px;
    margin: 10px;

}

.price{

    color: green;
    padding: 10px;
    margin: 10px;

}

.text-right{

    padding: 0px;
    margin: 0px;
    color: green;
    
}


table.cart {
    width: 600px;

}


th, td {
    padding: 7px 10px 10px 10px;

}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 60%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;

}

tr.subtotal {
    background-color: #efefef;
}

tr.total {
    background-color: #efefef;
}


td.num {
    background-color: #efefef;
}

td.num-neg {
    background-color: #efefef;
}

#footer {
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    color: DarkCyan;
    font-size: 15px;
    text-decoration: none;
}




